@import url('http//fonts.googleapis.com/css?family=Open+Sans400,300,700&subset=latin,cyrillic')

*
	margin 0
	padding 0
	border 0
	outline 0

html
	width 100%
	min-width 300px
	height 100%
	background-color #f4f4f4;

body
	width 100%
	height 100%
	overflow hidden
	position relative
	color #575757
	font-family "Open Sans", sans-serif, Arial
	font-size 16px

header
	display flex
	justify-content space-between
	align-items center
	padding 20px
	.name
		.image
			display inline-block
			width 64px
			height 64px
			position relative
			vertical-align middle
			cursor pointer
			img
				width 100%
				height 100%
				border-radius 50%
				position absolute
				z-index 10
				transition all 0.4s
				&:hover
					width 128px
					height 128px
		.text
			display inline-block
			vertical-align middle
			margin-left 10px
			.main-name
				font-weight 700
			.under-name
				font-size 0.8em
	.menu
		height 1.4em
		margin 20px 0
		flex auto
		color #3a494c
		text-align center
		.menu-item
			display inline-block
			min-width 20%
			margin 10px 0
			cursor pointer
			transition font-size 0.4s
			vertical-align middle
			white-space nowrap
			&::before
			&::after
				display inline-block
				opacity 0
				transition transform 0.6s, opacity 0.2s
			&::before
				content '['
				margin-right 10px
				transform translateX(20px)
			&::after
				content ']'
				margin-left 10px
				transform translateX(-20px)
			&:hover
			&.active
				font-size 1.2em
				&::before
				&::after
					opacity 1
					transform translateX(0px)

.main
	width 100%
	height calc(100% - 104px)
	min-height 200px
	overflow hidden
	.wrapper
		width 100%
		height 100%
		position relative
		left 0
		white-space nowrap
		transition left 0.8s
	.sheet
		display table
		width 100%
		height 100%
		position absolute
		top 0
		padding 10px
		box-sizing border-box
		white-space normal
		overflow hidden
		opacity 0
		transition left 0.8s, opacity 1.2s
		&[name="main"]
			left -100%
		&[name="portfolio"]
			left 100%
		&.active
			left 0
			opacity 1
		.image
			display inline-block
			width 40%
			height 100%
			vertical-align top
			text-align center
			&::before
				conent ''
				display inline-block
				width 0
				height 100%
				vertical-align middle
			img
				width auto
				height auto
				max-width 100%
				max-height 100%
				vertical-align middle
		.sheet-text
			display inline-block
			width 55%
			height 100%
			margin-left 5%
			padding-top 20px
			vertical-align top
			overflow-y auto
			overflow-x hidden
			.sheet-text-wrapper
				width 100%
				height 100%
				position relative
				left 0
				white-space nowrap
				transition left 0.8s
				overflow-x hidden
				overflow-y auto
			.text-header
				margin 10px
				font-size 1.2rem
				font-weight 700
		.view
			display inline-block
			width 100%
			position absolute
			top 0
			vertical-align top
			white-space normal
			opacity 0
			transition left 0.8s, opacity 1.2s
			&.active
				left 0
				opacity 1

.resume
	left -100%
	.resume-text
		p
			margin 5px 0
		ul
			margin-top 10px
		li
			margin 10px 0
			& > *
				vertical-align middle
			& > span
				display inline-block
				margin-left 10px

.contacts
	left 100%
	.contacts-wrapper
		display inline-block
		text-align left
		& > *
			padding 10px 0
			text-align left
	a
		display inline-block
		vertical-align middle
	.contact-text
		display inline-block
		margin-left 10px
		font-size 1.2rem
		vertical-align middle

@media (max-width: 600px)
	html
		height auto

	body
		height auto
		overflow auto

	header
		display block
		.menu
			.menu-item
				min-width 30%
				&.active
					font-size 1em
					&::before
					&::after
						opacity 0

	.main
		height auto
		.wrapper
			height auto
			white-space normal
			.sheet
				position relative
				height auto
				left 0 !important
				opacity 1 !important
				.image
					display none
				.sheet-text
					width 100%
					margin-left 0
					.sheet-text-wrapper
						white-space normal
						.view
							position relative
							left 0 !important
							opacity 1 !important

	.contacts
		text-align left

@media (max-width: 400px)
	header
		.menu
			height 3.6em
			.menu-item
				display block
				width 100%
