RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ errors/error-404.html

RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} ^(.*\.(php|html))$
RewriteCond %{SCRIPT_FILENAME} !index.php
RewriteCond %{SCRIPT_FILENAME} !errors/error-404.html
RewriteCond %{SCRIPT_FILENAME} !portfolio/works.php

RewriteRule ^(.*)$ index.php [L]
