doctype html
html(lang='ru')
	head
		title Кашников Денис | Веб-разработчик
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,initial-scale=1.0')
		link(type='text/css' rel='stylesheet' href='/css/style.css')
		script(type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.js')
		script(type='text/javascript' src='/scripts/main.js')
	body.
		My site
